<main class="d-flex  align-items-center animated heartBeat">


    <div class="content p-4 ">
        <h1 class="text-white mb-5 text-center">ABOUT
            <div class="app-red-colo d-inline">ME</div>
        </h1>
        <p class="text-white ">
            I'm <span class="app-red-light-color app-red-bg d-inline px-2 rounded-10">Saint Stephen</span>, a full-stack developer with a flair for creating elegant solutions in the least amount of time. If you can imagine it, let's build it.</p>

        <div class="flex-wrap d-flex justify-content-between mt-5 text-muted">
            <div class="mb-3">
                <button mat-mini-fab disabled class="app-red-bg app-red-light-color">
                        <mat-icon>phone</mat-icon>
                      </button>
                <span class="ml-3">+234 8061578814</span>
            </div>
            <div class="mb-3">
                <button mat-mini-fab disabled class="app-red-bg app-red-light-color">
                        <mat-icon>email</mat-icon>
                      </button>
                <span class="ml-3">stephen76494@gmail.com</span>
            </div>

            <div>
                <button mat-mini-fab disabled class="app-red-bg app-red-light-color">
                        <mat-icon>link</mat-icon>
                      </button>

                <span class="ml-3">github.com/thesaintzion</span>

            </div>
        </div>

    </div>

</main>