:host ::ng-deep {
    main {
        height: 100vh;
        width: 100%;
        background-color: black;
        background-image: url('../../../assets/img/bg-one.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
    }
    .content {
        border-radius: 15px;
        width: 50%;
        h1 {
            font-weight: 900 !important;
            font-size: 50px;
            text-align: center;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            text-align: justify;
        }
    }
    @media screen and (max-width: 767px) {
        .content {
            width: 100% !important;
            padding-left: 15px;
            padding-right: 15px;
            h1 {
                text-align: left !important;
                font-size: 40px !important;
            }
        }
        main {
            padding-top: 150px;
        }
    }
}