<main class="animated heartBeat">


    <div class="content ">
        <div class="container">
            <h1 class="text-white text-center mb-5">SKILLS</h1>
            <!-- https://github.com/thesaintzion/portfolio-angular.git -->


            <div class="row box-con text-center">
                <mat-chip-list aria-label="Fish selection" class="text-center ">
                    <mat-chip *ngFor="let skill of skills" class="px-5  py-4 text-center app-red-bg shadow app-red-light-color">#{{skill.name}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>




</main>