<header class="mt-2 px-4 d-flex align-items-center justify-content-between app-header">
    <div>
        <h3 routerLink="/" class="mb-0">SAINT</h3>
    </div>
    <!-- <div class="d-block d-lg-none  border h-100 px-3 text-center">
        M
    </div> -->

    <nav class=" d-none d-lg-flex align-items-center justify-content-between">
        <a routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="app-link  px-4 h-100 text-white d-flex align-items-center">About</a>
        <a routerLink="/page/projects" routerLinkActive="active" class="app-link px-4 h-100 text-white d-flex align-items-center">Projects</a>
        <a routerLink="/page/contacts" routerLinkActive="active" class="app-link px-4 h-100 text-white d-flex align-items-center">Contacts</a>
        <!-- <a routerLink="/page/more" class="app-link px-4 h-100 text-white d-flex align-items-center">More</a> -->
    </nav>
</header>
<div class="router-con overflow-hidden">
    <router-outlet></router-outlet>
</div>

<footer class="app-footer py-2 px-2 d-flex d-flex justify-content-center align-items-center align-items-center">
    <!-- <div class="mt-5 text-center border">
        <img class="w-50 mx-auto" src="../assets/img/download.png">
    </div> -->

</footer>