<main class="animated heartBeat">
    <div class="container content">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white animate zoomIn delay-1s mb-sm-5 faster">
                <h1 class="mb-5">LET'S TALK</h1>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ducimus, et quaerat, 
                    quasi eaque obcaecati vel a tempore repudiandae ullam doloribus quibusdam amet unde.</p> -->

                <div class="flex-wrap d-flex justify-content-between flex-column  mb-sm-10">
                    <div class="mb-3">
                        <button mat-mini-fab disabled class="app-red-bg app-red-light-color">
                                <mat-icon>phone</mat-icon>
                              </button>
                        <span class="ml-3">+234 8061578814</span>
                    </div>
                    <div class="mb-3">
                        <button mat-mini-fab disabled class="app-red-bg app-red-light-color">
                                <mat-icon>email</mat-icon>
                              </button>
                        <span class="ml-3">stephen76494@gmail.com</span>
                    </div>

                    <div>
                        <button mat-mini-fab disabled class="app-red-bg app-red-light-color">
                            <mat-icon>link</mat-icon>
                          </button>

                        <span class="ml-3">github.com/thesaintzion</span>

                    </div>
                </div>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()" class="col-lg-5 ml-auto form  rounded-10 animate zoomIn delay-1s faster mb-sm-4">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Name" required>
                    <mat-icon class="text-white" matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput matInput formControlName="email" placeholder="Email" required>
                    <mat-icon class="text-white" matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Say something</mat-label>
                    <textarea formControlName="message" matInput placeholder="Start typing"></textarea>
                </mat-form-field>

                <button mat-raised-button class="app-red-bg app-red-light-color w-100 mt-5 py-2">Submit</button>
            </form>
        </div>
    </div>
</main>