:host ::ng-deep {
    main {
        height: 100vh;
        width: 100%;
        background-color: black;
        background-image: url('../../../../assets/img/bg-one.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: auto;
        padding-top: 200px;
    }
    .content {
        h1 {
            font-weight: 900 !important;
            font-size: 50px;
            text-shadow: 0 0 2px #000;
        }
        p {
            font-size: 20px;
            font-weight: 600 !important;
            // text-shadow: 0 0 2px #000;
            text-align: justify;
            margin-bottom: 0;
        }
        .form {
            background-color: rgba(255, 255, 255, 0.5);
        }
        .icon-con {
            border-radius: 50px;
            height: 40px;
            width: 40px;
            text-align: center;
            vertical-align: middle;
            font-size: 25 px;
            font-weight: 700;
            display: inline-block;
        }
    }
}