<main>
    <div class="container content">
        <div class="row">
            <div class="col-lg-6 text-white">
                <h1 class="mb-5">LET'S TALK</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ducimus, et quaerat, quasi eaque obcaecati vel a tempore repudiandae ullam doloribus quibusdam amet unde, quae architecto exercitationem sit dolores consequatur?</p>
            </div>
            <div class="col-lg-6 form">

                <div>

                    <span class="icon-con text-white app-red-bg">
                        &#64;
                    </span>
                    <br>


                    <span class="icon-con text-white app-red-bg">
                        &#36;
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>