<main class="animated heartBeat">


    <div class="content  ">
        <div class="container">
            <h1 class="text-white text-center mb-5">PROJECTS</h1>


            <div class="row box-con">

                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">

                            <p>Project one</p>
                            <small>A Real Estate management portal.</small>

                            <!-- <div class="mt-2 d-flex justify-content-between">
                                <div>
                                    <span class="bg-dark text-white  d-inline px-2 rounded-10">#Done</span>
                                </div>
                                <div>
                                    <span class="app-red-light-color app-red-bg d-inline px-2 rounded-10">#Client</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real School management portal.</small>

                            <!-- <div class="mt-2 d-flex justify-content-between">
                                <div>
                                    <span class="bg-dark text-white  d-inline px-2 rounded-10">#ongoing</span>
                                </div>
                                <div>
                                    <span class="app-red-light-color app-red-bg d-inline px-2 rounded-10">#Personal</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real Supper  management portal.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real Estate management portal.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real Estate management portal.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real Estate management portal.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real Estate management portal.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p>Project one</p>
                            <small>A Real Estate management portal.</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 text-center mt-3">
                    <!-- <button class="btn btn-dander">LOAD MORE</button> -->
                    <button class="btn app-red-bg text-white btn-spill btn-sm">Show more</button>
                </div>

            </div>
        </div>
    </div>




</main>