<main class="animated heartBeat">


    <div class="content ">
        <div class="container">
            <h1 class="text-white text-center mb-5">PROJECTS</h1>
            <!-- https://github.com/thesaintzion/portfolio-angular.git -->


            <div class="row box-con ">

                <ng-container *ngFor="let project of projects">


                    <div class="col-lg-3 mb-3  mb:last:0">
                        <div class="card " (click)="viewProject(project?.name, project?.description, project?.link, project?.img)">
                            <div class="card-body animated fadeIn faster pb-0 delay-1s">

                                <p>{{project?.name}}</p>
                                <small>{{project?.description}}</small>

                                <div class="mt-2 d-flex justify-content-end">
                                    <div>
                                        <small matTooltip="Role Played" class="bg-light  text-dark d-inline px-2 rounded-10">#{{project?.role}}</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>


                <div class="col-lg-12 text-center mt-3">
                    <!-- <button class="btn btn-dander">LOAD MORE</button> -->
                    <button class="btn app-red-bg text-white btn-spill btn-sm">Show more</button>
                </div>

            </div>
        </div>
    </div>




</main>