/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:root {
    --appRed: #e40521;
    --appRedLight: #ffe9e9;
}

// * {
//     transition: 800ms;
// }
.app-header {
    a.active {
        // color: var(--appRed);
        border-color: var(--appRed) !important;
    }
}

.rounded-10 {
    border-radius: 10px !important;
}

// ====== CSS ===== //
.app-red-bg {
    background-color: var(--appRed) !important;
}

.app-red-color {
    color: var(--appRed) !important;
}

.app-red-border {
    border-color: var(--appRed) !important;
}

.app-red-light-bg {
    background-color: var(--appRedLight) !important;
}

.app-red-light-color {
    color: var(--appRedLight) !important;
}

.app-red-light-border {
    border-color: var(--appRedLight) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

button:focus {
    outline: 1px dotted;
    outline: none !important;
    outline: 0 !important;
    outline: 0px auto #f0f2f5 !important;
}

.mat-dialog-container {
    background-color: #5f6061;
    // background-color: rgba(255, 255, 255, 0.8);
    .mat-dialog-content {
        position: relative;
    }
    position: relative;
    display: block;
}

.dialog-rounded {
    .mat-dialog-container {
        border-radius: 15px !important;
    }
}

.dialog-no-padding {
    .mat-dialog-container {
        padding: 0 !important;
    }
}

.backdrop-none {
    background: transparent !important;
}

// .dialog-transparent-bg {
//     .mat-dialog-container {
//         background-color: rgba(255, 255, 255, 0.5) !important;
//         background-color: transparent !important;
//         color: #fff !important;
//     }
// }
.dialog-rounded-none {
    border-radius: none !important;
    border-radius: 0 !important;
    .mat-dialog-container {
        border-radius: none !important;
        border-radius: 0 !important;
    }
}

html,
body {
    height: 100%;
}

@media (min-width: 768px) {
    // ::-webkit-scrollbar-thumb {
    //     background-color: rgb(240, 240, 240) !important;
    // }
     ::-webkit-scrollbar,
     ::-webkit-scrollbar-thumb {
        width: 15px;
        border-radius: 50px;
        background-clip: padding-box;
        height: 10px !important;
        background-color: transparent !important;
    }
     ::-webkit-scrollbar-thumb {
        background-color: lightgray !important;
    }
}


/* Responsive Styles */

@media screen and (max-width: 767px) {
    .mb-sm-4 {
        margin-bottom: 20px !important;
    }
    .mb-sm-10 {
        margin-bottom: 50px !important;
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}